/* CSS RESET  */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.faq {
    width: 65%;
    border: none;
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.2);
    padding: 1rem 1.5rem;;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}

.faq__title {
    text-align: center;
    font-size: 1.3rem;
}

.accordion {
    display: grid;
    gap: .5rem;
}

.accordion__question {
    border-bottom: 1px solid black;
    padding-block: .5rem;
    display: flex;
    justify-content: space-between;
}

.accordion__input {
    appearance: none;
}

.accordion__input::after {
    content: '+';
}

.accordion__input:checked::after {
    content: '-'
}

.accordion__content{
    height: 0;
    overflow: hidden;
}

.active {
    height: max-content;
    overflow: none;
}