body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.stopwatch {
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.2);
    padding-inline: 2rem;
    padding-block: 1rem;
    width: 50%;
    text-align: center;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}

.stopwatch__time{
    font-size: 3rem;
    margin:0;
}

.stopwatch__controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.stopwatch__button {
    font-size: 1.3rem;
    border: none;
    padding: .3rem .5rem;
    color: white;
    transition: filter .2s ease;
    cursor: pointer;
}

.stopwatch__button:hover {
    filter: brightness(90%);
}

.stopwatch__button:active {
    filter: brightness(50%);
}

.stopwatch--green{
    background-color: rgb(73, 125, 32);
}

.stopwatch--red {
    background-color: rgb(211, 40, 40);
}
